<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.es"/>

    <context:property-placeholder location="classpath:properties/application.properties"/>

    <import resource="classpath:context/appContext-configurer.xml"/>

    <bean id="cartPageFacade" class="com.es.facade.CartPageFacade"/>

    <bean id="productDetailsPageFacade" class="com.es.facade.ProductDetailsPageFacade"/>

    <bean id="ajaxAddingToCartFacade" class="com.es.facade.AddingToCartFacade"/>

    <bean id="productListFacade" class="com.es.facade.ProductListFacade"/>

    <bean id="orderPageFacade" class="com.es.facade.OrderPageFacade"/>

    <bean id="orderOverviewPageFacade" class="com.es.facade.OrderOverviewPageFacade"/>

    <bean id="ordersAdminPageFacade" class="com.es.facade.OrdersAdminPageFacade"/>

    <bean id="registrationFacade" class="com.es.facade.RegistrationFacade"/>

    <bean id="quantityForAddingOnPLPForm" class="com.es.core.form.ProductListPageForm"/>

    <bean id="phoneDataPopulator" class="com.es.core.populator.impl.PhoneModelPopulator"/>

    <bean id="phoneDataConverter" class="com.es.core.converter.PhoneDataConverter">
        <property name="populators">
            <list>
                <ref bean="phoneDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="cartDataPopulator" class="com.es.core.populator.impl.CartModelToCartDataPopulator"/>

    <bean id="cartDataConverter" class="com.es.core.converter.CartDataConverter">
        <property name="cartPopulators">
            <list>
                <ref bean="cartDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="cartModelPopulator" class="com.es.core.populator.impl.CartPageDTOToCartModelPopulator"/>

    <bean id="cartDTOConverter" class="com.es.core.converter.CartPageDTOConverter">
        <property name="populators">
            <list>
                <ref bean="cartModelPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="parameterPopulator" class="com.es.core.populator.impl.ProductListPageParametersModelPopulator"/>

    <bean id="pageParametersConverter" class="com.es.core.converter.ProductListPageParametersConverter">
        <property name="paramPopulators">
            <list>
                <ref bean="parameterPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="addingToCartDataPopulator" class="com.es.core.populator.impl.AddingToCartDataPopulator"/>

    <bean id="addingToCartConverter" class="com.es.core.converter.AddingToCartConverter">
        <property name="addingToCartDataPopulators">
            <list>
                <ref bean="addingToCartDataPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="orderModelPopulator" class="com.es.core.populator.impl.OrderModelPopulator"/>

    <bean id="orderFormConverter" class="com.es.core.converter.OrderFormConverter">
        <property name="populators">
            <list>
                <ref bean="orderModelPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="userFormPopulator" class="com.es.core.populator.impl.RegistrationUserFormPopulator"/>

    <bean id="registrationUserFormConverter" class="com.es.core.converter.RegistrationUserFormConverter">
        <property name="populators">
            <list>
                <ref bean="userFormPopulator"/>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="sort" class="com.es.core.util.FindAndSortUtil"/>

    <bean id="cartPageDTO" class="com.es.core.dto.CartPageDTO"/>

    <bean id="cartInfoDTO" class="com.es.core.dto.CartInfoDTO"/>

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <bean id="orderValidator" class="com.es.core.util.validators.PlaceOrderValidator"/>

    <jdbc:initialize-database enabled="true" data-source="dataSource">
        <jdbc:script location="classpath:db/schema.sql"/>
    </jdbc:initialize-database>

</beans>
